body {
	background-color: #fff;
	font-family: 'Martel Sans', sans-serif;
	margin-top: 0px;
}

header {
	color: #ff7e22;
	/*text-shadow: 0 0 10px #111, 0 0 10px #111;*/
	font-weight: bolder;
	font-size: 25px;
	height: 40px;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

body p {
	color: #ff7e22;
	text-align: right;
	font-weight: 400;
}

div#charts-background {
	width: 1260px;
	background-color: #ddd;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	
}

div#histogram {
	height: 20px;
}

rect.bar {
	opacity: 0.7;
	
}

rect.bar:hover {
	opacity: 1;
}

circle.dots {
	opacity: 0.7;
}

span {
	
}

#drop {
	margin-left: 5px;
}

.dropdown-menu {
	margin-top: 0px;
	margin-left: 20px;
	color: #ed9446;
	/*text-shadow: 0 0 10px #111, 0 0 10px #111;*/
} 

.x.axis text {
	fill: black;
}

.y.axis text {
	fill: black;
}

.y.axis .domain {
	display: none;
}

.x.axis .domain {
	display: none;
}

.y.axis line {
	stroke: #a1521e;
	opacity: 0.5;
}

.x.axis line {
	stroke: #a1521e;
	opacity: 0.5;
}

g.x.axis {
	font-family: 'Martel Sans';
}

g.y.axis {
	font-family: 'Martel Sans';
}

g.scatter.x.axis {
	font-family: 'Martel Sans';
}

g.scatter.y.axis {
	font-family: 'Martel Sans';
}

.histoTip {
	line-height: 1;
	padding: 10px;
	background: rgba(128, 128, 128, 0.8);
	color: white;
	border-radius: 12px;
	font-family: 'Martel Sans';
	font-size: 10px;
}

/* Creates a small triangle extender for the tooltip */
.histoTip:after {
  box-sizing: border-box;
  display: inline;
  font-size:10px;
  width: 100%;
  line-height: 1;
  color: rgba(128, 128, 128, 0.7);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.histoTip.n:after {
  margin: 1px 0 0 0;
  top: 100%;
  left: 0;
}

.scatterTip {
  background-color: rgba(128, 128, 128, 0.8);
  color: white;
  border-radius: 10px;
  font-family: 'Martel Sans';
  padding: 10px;
  font-size: 12px;
}

div.tooltip {
  width: 350px;
  color: white;
  position: absolute;
  text-align: left;
  padding: 10px;
  font-size: 12px;
  font-family: 'Martel Sans';
  background: rgba(128, 128, 128, 0.8);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

rect.sqr {
	opacity: 0.7;
}

rect.sqr:hover {
	opacity: 1;
}

